<div class="container-flud">
  <div class="row">
    <div class="col-md-2">
      <div class="well">
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
      </div>
    </div>
    <div class="col-md-2">
      <div class="well">
      </div>
    </div>
  </div>
</div>