<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p>
    We are DevMatch. Our company focuses on creating an exclusive community for 
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur 
    adipisicing elit. Recusandae, voluptatum, odit, illum, quos deleniti nesciunt 
    veniam nisi unde harum expedita ea aut soluta eos sunt nam? Dolorem, facere 
    eius neque?
    </p>
</div>