.avatar-large {
  width: 250px;
  height: 250px;
}

.list-group .profile-image-box {
  padding: 15px;
}

.no-margin {
  margin: 0px;
}

// Users index styles

.index-page-directory-avatar {
  width: 128px;
  height: 128px;
}

.text-black {
  color: black;
}
